.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.container {
  padding: 30px 250px 100px 150px;
}

.container h2 {
  font-size: 30px;
}

.tabsContainer {
  margin-top: 1rem;
  display: flex;
  width: 300px;
}

.tab {
  cursor: pointer;
  padding: 6px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  text-align: center;
  flex: 1;
  font-weight: normal;
  color: #333;
  transition: color 0.2s, background-color 0.2s;
}

.tab.active {
  background-color: #fefaf1;
  border-bottom: none;
  font-weight: bold;
  color: #000;
}

.tab:hover {
  background-color: #f0f0f0;
  color: #666;
}

.tabContent {
  border: 2px solid #b8b8b8;
  border-radius: 0 10px 10px 10px;
  /* padding: 50px; */
  padding: 40px 60px 50px 60px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.tabHeader {
  background-color: #9c7b16;
}

.tabHeader p {
  color: #ffffff;
  padding: 10px 0px 10px 20px;
  font-size: 17px;
  font-weight: 500;
}

.btmButton {
  display: flex;
  gap: 40rem;
  /* align-self: flex-end; */
}

.button {
  margin-top: 20px;
  height: 40px;
  background-color: #9c7b16;
  font-size: 14px;
  width: 12rem;
  transition: background-color 0.3s;
}

.navigationButtons {
  display: flex;
  gap: 10px; /* Adjust the spacing between buttons as needed */
  justify-content: flex-end;
}

.disabled {
  color: #ccc; /* Change the color to gray or a color of your choice */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  pointer-events: none; /* Make the button non-interactable */
}

.enable {
  color: black; /* Change the color to gray or a color of your choice */
  cursor: pointer; /* Change the cursor to indicate it's not clickable */
}

.back {
  position: relative;
  right: 50px;
}
