.body {
  margin-top: 10px;
}

.text {
  margin: 0px 0;
  color: #9c7b16;
  font-size: 30px;
  font-weight: 700;
}

.back {
  position: absolute;
  margin-top: 10px;
  margin-left: -30px;
  font-size: 1.1rem;
  color: black;
  cursor: pointer;
}
