.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}

.card{
  margin-top: 4rem;
  padding: 50px 50px 50px 50px;
  min-width: 65rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70rem;
  align-items: center;
}

.container h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.content {
  margin-top: 50px;
  line-height: 2;
  text-align: justify;
}

.button {
  margin-top: 50px;
  height: 40px;
  background-color: #82c36b;
  font-size: 15px;
  border: none;
  color: white;
}

.textColor {
  color: red;
  margin-bottom: 4rem;
}

.back{
  position: relative;
  left: -60px;
  padding-top: 20px;
  cursor: pointer;
  font-size: 20px;
}
