.board {
  width: 100%;
  max-width: 46rem;
}

.scrollable {
  padding: 0px 15px 15px 0px;
  /* margin-top: -0.5rem; */
  max-height: 445px;
  /* max-height: 90vh; */
  overflow-y: auto;
  /* scrollbar-width: none; */
  -ms-overflow-style: none;
}

.centeredText {
  text-align: center; /* Horizontal centering */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Vertical centering */
  margin-top: 200px;
  color: rgb(131, 131, 131);
}
.butName {
  background-color: #9c7b16;
  height: 30px;
  width: 21%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 11px;
  text-align: center;
  align-items: center;
  border: none;
  color: #ffffff;
}

.createName {
  font-size: 11px;
}

.scrollable::-webkit-scrollbar {
  width: 0.3rem;
  background-color: rgb(206, 206, 206);
   height: 6px;
  /* background-color: transparent; */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  /* background-color: transparent; */
  background-color: white;
}
/* style={{ fontSize: "25px", color: '#9c7b16' }} */

.card {
  padding: 0 0 20px 0;
  height: 180px;
  max-width: 720px;
  border-radius: 30px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.36);
}

.smallCard {
  padding: 10px 20px 20px 20px;
  height: 80px;
  border-radius: 25px;
  display: flex;
  gap: 15px;
  background-color: #fefaf1;
}

.ratings,
.ratingstech {
  font-size: small;
  font-weight: 500;
  color: rgb(131, 131, 131);
}
.ratingstech {
  margin-top: 0.8rem;
}

.ratings {
  margin-top: 1.2rem;
}


.viewbutton {
  margin-left: 12rem;
  height: 35px;
  border: #ffffff;
  font-size: 70%;
  background-color: #9c7b16;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
}

.container {
  margin: 30px 30px 30px 30px;
  /* margin-bottom: 100px; */
  padding: 10px 30px 20px 100px;
  text-align: left;
  display: flex;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.container h3 {
  font-weight: 500;
}

.ideaicon {
  width: 130px;
  margin-left: -8rem;
  margin-top: 1rem;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.head {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #9c7b16;
  font-weight: bold;
}

.publish {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btmButton {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-content: center;
  margin-top: 30px;
}

.deac p{
  margin-top: 10px;
}

.button {
  margin-top: 20px;
  height: 40px;
  background-color: #9c7b16;
  font-size: 14px;
  width: 12rem;
  transition: background-color 0.3s;
  border: none;
  color: #ffffff;
}

.confirmation {
  font-size: 13px;
}

.textarea {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 86%;
  height: 70px;
  resize: none;
  font-size: 16px;
  font-family: "Calibri", sans-serif;
  background-color: white;
  color: black;
}
.rightAligned {
  display: flex;
  justify-content: flex-end;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.info:hover {
  text-shadow: 0 0 15px rgba(0, 0, 0, 01);
  cursor: pointer;
}

.textInput {
  width: 95%;
  padding: 10px;
  /* margin-bottom: 16px; */
  border: 2px solid #9c7b16;
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
  color: black;
}

.yScroll {
  max-height: 35rem;
  overflow-x: auto;
}

.yScroll::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

/* Customize the scrollbar track
.scrollable::-webkit-scrollbar-track {
    background-color: #f1f1f1;
} */

/* Customize the scrollbar thumb */
.yScroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Customize the scrollbar thumb when hovered */
.yScroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.top {
  display: flex;
  width: 10rem;
  margin-left: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.dropdown {
  float: left;
  overflow: hidden;
}
/* .dropbtn {
  margin-top: 25px;
  margin-left: -25px;
  position: absolute;
} */

.dropdown .dropbtn {
  font-size: 1em;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
}

.dropdowncontent {
  display: block;
  position: relative;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 5px;
  max-width: 20rem;
  min-width: 15rem;
}

.dropdowncontent span {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: left;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.dropdowncontent span:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.greenBullet {
  color: #5fab3c;
  margin-right: 10px;
}

.clear {
  color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the alpha value (0.5) for transparency */
  margin-right: 10px;
}

.content h3 {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
}

